@import '../../vars.css';
.container{
    color: var(--color-text);
    background-color: var(--color-primary);
    display: flex;
    margin-top: 90px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    gap: 10px;
    padding: 50px 8%;
}
.text h2 {
font-size: 80px;
font-weight: 700;
letter-spacing: 4px;
}

.text p {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
}
.links{
display: flex;
flex-direction: column;
align-items: flex-start;
list-style: none;
gap: 22px;
}
.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}
.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
@media screen and (max-width: 830px){
    .container{
        flex-direction: column;
        gap: 23px;
    }
    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links{
        align-items: left;
    }
}